@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
}

.App{
    background-color: black;
    min-height: 100vh;
    text-align: center;
}

.todo-wrapper{
    margin: auto 250px auto 250px;
    min-height: 100vh;
    border: 5px solid white;
    padding: 30px;
}

.title-list{
    margin-top: 70px;
    color: white;
    font-size: 20px;
    text-decoration: underline;
}
/* -------------------------------------------------------------*/
